.pontuacao-container {
  background-color: #4366F4;
  border-radius: 16px;
  padding: 16px;
  padding-top: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
  width: 310px;
  height: 100px;
  position: relative;
  left: 16px;
}

.pontuacao-titulo {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  vertical-align: top;
}

.pontuacao-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  padding: 8px 12px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  
}

.pontuacao-foto {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.pontuacao-info {
  flex-grow: 1;
  margin-left: 10px;
}

.pontuacao-nome {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  color: #333333;
}

.pontuacao-pontos {
  font-size: 12px;
  color: #333333;
  margin: 2px 0 0;
}

.pontuacao-icon {
  color: #ffd700;
  margin-left: 8px;
}
