.alerta-container {
  width: 16.31rem;
  height: 4.37rem;
  background-color: #fff;
  border-radius: 0.62rem; 
  padding: 0rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem; 
  color: #333;
  font-weight: 500;
}

.alerta-texto {
  color: var(--cor-secundaria);
  font-size: 1rem; 
  font-weight: 600;
  font-family: Arial, sans-serif;
}
