.certificados-container {
  background-color: var(--cor-secundaria);
  border-radius: 16px;
  padding: 16px;
  padding-top: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 3.4rem;
  width: 310px;
  height: 100px;
  position: relative;
  left: 16px;
}

.certificados-titulo {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
}

.certificados-icones {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.certificado-botao {
  background-color: #2d82b7;
  color: #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.certificado-botao:hover {
  background-color: #246d98;
  transform: scale(1.05);
}
