/* --- Layout Geral da Página --- */
.app-content-feedback {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  padding: 1rem;
  width: 100%;
}

/* --- Card Principal de Confirmação --- */
.feedback-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1.5rem;         
}

/* --- O Container do Ícone Composto --- */
.icone-composto-container {
  position: relative; 
  width: 100px;       
  height: 100px;
  
}

/* --- Ícone de Contorno (Fundo) --- */
.contorn-icon {
  width: 100%;
  height: 100%;
}

/* --- Ícone de Pesquisa (Cima) --- */
.pesquisa-icon { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  height: auto;
}   


/* --- Texto de Confirmação --- */
.feedback-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0; 
}

/* --- Botão "Enviar nova denúncia" --- */
.feedback-btn {
  background-color: white;
  color: var(--cor-secundaria); 
  border: none;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-top: 100px;
  width: 100%; 
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease; 
}

.feedback-btn:hover {
  transform: scale(1.03); 
}
