.app-footer {
    width: 100%;
    padding: 1.25rem 0; /* remove padding lateral pra não somar */
    display: flex;
    justify-content: center; /* centraliza o bloco branco */
    align-items: center;
    border-bottom-left-radius: var(--raio-borda-mockup);
    border-bottom-right-radius: var(--raio-borda-mockup);
    background-color: var(--cor-primaria); /* mantém o azul de fundo */
}

/* Bloco branco */
.btn-footer-home {
    background-color: var(--cor-fundo-card);
    color: var(--cor-secundaria);
    border: none;
    border-radius: var(--raio-borda-btn);
    padding: 0.625rem 1rem;
    width: 85%;
    max-width: 22.5rem;
    box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;   
    align-items: center;           
    transition: transform 0.2s ease;
}

.btn-footer-home a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;   
  height: 32px;
}


.btn-footer-home img {
    width: 26px;
    height: 26px;
    display: block;
    object-fit: contain;
}

.analise img {
  transform: scale(1.2);  
}
