.botaoComunidade {
  position: absolute;          
  left: 50%;                   
  transform: translateX(-50%);
  border-radius: 0.625rem;     
  width: 15.625rem;           
  height: 3.125rem;            
  color: var(--cor-fundo-card);
  background-color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
  margin-bottom: 26%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}


h5 {
  text-align: center;
  font-family: var(--fonte-principal);
  margin-top: 50%;
}


.Span01 {
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
}

a {
  text-align: center;    
  margin-top: 0.25rem;   
}

.Sair {
  display: block;
  text-align: center;
  margin-top: 5.125rem;  
  color: black;
}
